<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="edit_category">
    Category:
    <%= f.text_field :name %>
    <%= f.text_field :color %>
    <%= f.submit 'Update', :class => 'button' %>
    <%= link_to "Back", transactions_url, :class => 'button' %>
  </div>
<% end %>
