<% if @transaction.errors.any? %>
  <tr>
    <td colspan="5" class="error_explanation">
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<tr>
  <td>
    <%= form_for(@transaction) do |f| %>
    <%= f.text_field :date %>
  </td>
  <td><%= f.text_field :category_name %>
      <%= f.text_field :description %></td>
  <td><%= f.text_field :value %></td>
  <td><%= f.text_field :amount %></td>
  <td class="buttonset">
    <% if @transaction.new_record? %>
      <%= f.hidden_field :type, :value => "expense" %>
    <% else %>
      <%= f.hidden_field :type %>
    <% end %>
    <%= f.submit :value => "-", :class => 'button' %>
    <%= f.submit :value => "+", :class => 'button' %>
    <% end %>
  </td>
</tr>
