<% if @transaction.errors.any? %>
  <tr>
    <td colspan="5" class="error_explanation">
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
<% end %>

<tr>
  <td>
    <%= form_for(@transaction) do |f| %>
    <%= f.text_field :date, :placeholder => Date.today %>
  </td>
  <td class="main-column">
    <%= f.text_field :category_name, :placeholder => 'Category' %>
    <%= f.text_field :description, :placeholder => 'Optional description' %>
  </td>
  <td><%= f.text_field :human_value, :placeholder => '0.00',
                       :value => @transaction.human_value,
                       :autocomplete => 'off'  %></td>
  <td><%= f.text_field :amount, :placeholder => '1' %></td>
  <td class="buttonset">
    <%= f.submit :value => "-", :class => "ui-priority-primary", :id => nil %>
    <%= f.submit :value => "+", :id => nil %>
    <% end %>
  </td>
</tr>
