<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :value => @transaction.value %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category_name %>
  </div>
  <div class="actions">
    <% if @transaction.new_record? %>
      <%= f.hidden_field :type, :value => "expense" %>
    <% else %>
      <%= f.hidden_field :type %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
