<% if notice %>
  <p id="notice" class="ui-widget ui-widget-content ui-corner-all">
    <%= notice %>
  </p>
<% end %>

<% if defined? @category %>
  <div>
    <%= render 'categories/form' %>
  </div>
<% end %>

<table class="transactions">

  <%= render 'transactions/form' %>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td class="main-column">
        <%= category_link(transaction.category) + transaction.description %>
      </td>
      <td><%= value_label transaction %></td>
      <td><%= transaction.amount %></td>
      <td class="buttonset">
        <a href="<%= url_for edit_transaction_path(transaction) %>"
          class="button" title="Edit transaction">&#x270D;</a>
        <a href="<%= url_for transaction %>" data-confirm="Are you sure?"
          data-method="delete" rel="nofollow" class="button"
          title="Delete transaction">&#x2717;</a>
      </td>
    </tr>
  <% end %>

  <tr>
    <td></td>
    <td class="right">Total income:</td>
    <td>
      <%= value_style Transaction::Income, @transactions.map(&:income).sum %>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="right">Total expenses:</td>
    <td>
      <%= value_style Transaction::Expense, @transactions.map(&:expense).sum %>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="right">Total:</td>
    <td><%= value_label @transactions.map(&:value).sum %></td>
    <td></td>
    <td></td>
  </tr>
</table>
