<h1>New expense</h1>
<%= render 'form' %>

<h1>New income</h1>
<%= render 'form' %>

<div class="transactions">
<table>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= transaction.description %></td>
    <td><%= transaction.value %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.category_name %></td>
    <td><%= link_to '&#x270D;'.html_safe, edit_transaction_path(transaction) -%>
    </td>
    <td><%= link_to '&#x2717;'.html_safe, transaction,
              :confirm => 'Are you sure?', :method => :delete -%>
    </td>
  </tr>
<% end %>
</table>
</div>
