<p id="notice"><%= notice %></p>

<table class="transaction">

<%= render 'form' %>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= category_label(transaction.category) + transaction.description %></td>
    <td><%= value_label transaction %></td>
    <td><%= transaction.amount %></td>
    <td class="buttonset">
      <a href="<%= url_for edit_transaction_path(transaction) %>"
        class="button" title="Edit transaction">&#x270D;</a>
      <a href="<%= url_for transaction %>" data-confirm="Are you sure?"
        data-method="delete" rel="nofollow" class="button"
        title="Delete transaction">&#x2717;</a>
    </td>
  </tr>
<% end %>
</table>
