<h1>New expense</h1>
<%= render 'form' %>

<h1>New income</h1>
<%= render 'form' %>

<div class="transactions">
<table>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= category_label(transaction.category) + transaction.description %></td>
    <td><%= category_style transaction.category, transaction.value %></td>
    <td><%= transaction.amount %></td>
    <td class="buttonset">
      <a href="<%= url_for edit_transaction_path(transaction) %>"
        class="button">&#x270D;</a>
      <a href="<%= url_for transaction %>" data-confirm="Are you sure?"
        data-method="delete" rel="nofollow" class="button">&#x2717;</a>
    </td>
  </tr>
<% end %>
</table>
</div>
