<!DOCTYPE html>
<html>
<head>
  <title>Expenses</title>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag    "blueprint/ie" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    var all_categories = <%== Hash[ all_categories.map {|c|
      [c.id, {id: c.id, label: c.label, color: c.color}] }].to_json %>;
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content">
    <div id="navigation" class="ui-buttonset">
      <%= navigation_button \
            text: 'Transactions',
            path: transactions_path,
            class: 'ui-corner-left' %>
      <%= navigation_button \
            text: 'Pie',
            path: pie_charts_path,
            class: 'ui-corner-right' %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
